.medya{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
video{
    width:20rem;
    margin: 2px;
    padding: 2px;
}

body{
    background-image: url(/Css/img/arkaplan2.png);
}

.medya-h2 {
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid #ccc;
}