.navbar-2{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    height:50px;
    align-items: center;
    padding:30px
}
.navbar-2 img{
    width:25px;
    height:25px;
    border-radius: 50%;
    
    
    
}
.navbar-2 a{
    text-decoration: none;
    font-size: large;
    letter-spacing: 2px;
    transition: 0.3s;
    color:black;
}
.navbar-2 a:hover{
    border-bottom: 1px solid black;
}
.navbar-2 .element{
    display: flex;
    align-items: center;
}